
.Rproj.user
.Rhistory
*.Rproj
*.pbix
.secret
.vs/*
.vscode/*
*.env
quicksight.env

demo/test/*

testing/cos-calculators
testing/dispatcher
testing/test_assessment*
testing/test_assessment_1061/*
testing/test_assessment_10910/*

testing/visuals/test_assessment_10910/*
testing/visuals/test_assessment_10926/*
testing/visuals/qs_visual_data_10910/*
testing/visuals/qs_visual_data_10926/*
testing/visuals/template/*


setup/test_assessments*
setup/datasets/test_assessment/*
setup/datasets/test_assessment2/*
setup/datasets/test_assessment3/*
setup/datasets/table_maps/*
setup/datasets/*.csv
setup/cloudwatch/logs

setup/embark/embark_cos/*
setup/embark/embark_cos_processed/*
setup/embark/dimensional_data/*
setup/embark/*.csv
setup/embark/*.txt
setup/embark/*.zip
setup/embark/*.html

setup/summary/test_assessment/*

setup/lambda/case*.py
setup/lambda/*.txt
setup/lambda/*.zip
setup/lambda/dispatcher.py
setup/lambda/inbound_delivery.py
setup/lambda/*.Rproj
setup/lambda/.Rhistory


setup/google/key/*


setup/source_entity/tmp/*
setup/template/tmp/*
setup/dashboard_definition/tmp/*


dashboard_definition_testing/tmp/*


